* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: white;
  font-family: "barlow";
  font-size: 14px;
}
body {
  background-image: url(space-tourism-website-main/starter-code/assets/crew/background-crew-desktop.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}
html,
body {
  overflow-y: scroll;
  height: 100%;
}
header {
  grid-area: alias-header;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 4% 0% 2% 4%;
  position: sticky;
  top: 0;
}
.navigation-container {
  display: flex;
  align-content: space-between;
  font-family: "bellefair";
  gap: 3em;
  list-style: none;
  text-transform: uppercase;
  background: hsl(0 0 100% / 0.1);
  backdrop-filter: blur(1rem);
  padding-inline: clamp(5rem, 10vw, 15rem);
  background-size: cover;
}
.toggle-mobile-nav {
  display: none;
}
.fp {
  grid-area: p1;
  justify-self: left;
}
.sp {
  grid-area: p2;
}
.tp {
  grid-area: p3;
  font-size: 1.2rem;
}
.points-nav-container {
  grid-area: alias-nav;
}
.crew-img {
  grid-area: img;
}

/* -----------------
   STYLES
------------------ */

.underlined-elements > * {
  padding: 8% 0;
  border-bottom: solid hsl(0 0 100% / 0) 3.5px;
}

.underlined-elements > *:hover,
.underlined-elements > *:focus {
  border-color: hsl(0 0 100% / 0.5);
}
.underlined-elements > .active {
  border-color: hsl(0 0 100% / 1);
}

.letter-spacing-1 {
  letter-spacing: 1px;
}
.navigation-container a {
  text-decoration: none;
}
.navigation-container a > span {
  font-family: "barlow";
  font-weight: 200;
}
.navigation-container a > [aria-hidden="true"] {
  font-weight: 700;
  margin-inline-end: 0.5em;
}
.navigation-container[data-visible="true"] {
  transform: translateX(0%);
}
button {
  background-color: transparent;
  border: none;
}
button:hover {
  cursor: pointer;
}
.number {
  opacity: 0.5;
}
.dot-s {
  border-radius: 50%;
  width: 15px;
  aspect-ratio: 1;
  background-color: hsl(0 0 100% / 0.3);
}
.dot-s:hover,
.dot-s:focus {
  background-color: hsl(0 0 100% / 0.6);
}
.points-nav > .active {
  background-color: hsl(0 0 100% / 1);
  border-radius: 50%;
}
.points-nav {
  display: flex;
  list-style: none;
  justify-content: space-between;
  max-width: 150px;
}
.fp > span {
  font-family: "barlow";
  font-size: 1.2rem;
  text-transform: uppercase;
  font-weight: 300;
}
.fp > span:first-child {
  margin-right: 10px;
  font-weight: 600;
  opacity: 0.5;
}
.sp > p {
  text-transform: uppercase;
  font-family: "bellefair";
}
.sp1 {
  opacity: 0.5;
  font-size: 1.3rem;
  margin-bottom: 5px;
}
.sp2 {
  font-size: 1.5rem;
}
.tp {
  font-weight: 200;
  line-height: 180%;
}

/* ----------------
      BREAKPOINTS
--------------------*/

@media (min-width: 576px) and (max-width: 992px) {
  .main-container {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(5, auto);
    grid-template-areas:
      "p1"
      "p2"
      "p3"
      "alias-nav"
      "img";
    justify-content: center;
    row-gap: 30px;
    padding: 6% 12%;
  }

  .sp,
  .tp,
  .points-nav-container {
    justify-self: center;
    text-align: center;
  }
  .fp {
    justify-self: left;
  }
  .points-nav {
    column-gap: 20px;
    max-width: 150px;
  }
  .sp1 {
    font-size: 1.7rem;
    margin-bottom: 10px;
  }
  .sp2 {
    font-size: 2.5rem;
  }
  .tp {
    padding: 0 6%;
    text-align: center;
  }
  img {
    width: 300px;
    justify-self: center;
  }
  .navigation-container a > [aria-hidden="true"] {
    display: none;
  }
}

@media (max-width: 576px) {
  body {
    background-image: url(space-tourism-website-main/starter-code/assets/crew/background-crew-mobile.jpg);
    background-repeat: no-repeat;
    background-size: cover;
  }
  .navigation-container {
    position: fixed;
    flex-direction: column;
    inset: 0 0 0 30%;
    gap: 2rem;
    padding: min(25vh, 10rem) 3em;
    background: hsl(0 0 100% / 0.1);
    backdrop-filter: blur(1rem);
    z-index: 1;
    transform: translateX(100%);
  }
  .toggle-mobile-nav {
    display: block;
    position: absolute;
    top: 2em;
    right: 2em;
    z-index: 2;
  }
  .main-container {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(5, auto);
    grid-template-areas:
      "p1"
      "p2"
      "p3"
      "alias-nav"
      "img";
    justify-content: center;
    row-gap: 30px;
    padding: 6% 12%;
  }

  .fp,
  .sp,
  .tp,
  .points-nav-container {
    justify-self: center;
    text-align: center;
  }
  .fp {
    padding: 8% 0;
  }

  .crew-img {
    width: 280px;
    height: auto;
    justify-self: center;
  }
  .points-nav {
    column-gap: 20px;
    max-width: 150px;
  }
  .dot-s {
    width: 11px;
  }
  .points-nav-container {
    padding: 7% 0;
  }

  .underlined-elements > * {
    padding: 0;
    border-bottom: solid hsl(0 0 100% / 0) 3.5px;
  }
  .underlined-elements > *:hover,
  .underlined-elements > *:focus {
    border-color: hsl(0 0 100% / 0);
  }
  .underlined-elements > .active {
    border-color: hsl(0 0 100% / 0);
  }
  .sp1 {
    margin-bottom: 10px;
  }
}

@media (min-width: 992px) {
  .main-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(4, auto);
    grid-template-areas:
      "p1 p1"
      "p2 img"
      "p3 img"
      "alias-nav img";
    justify-content: center;
    padding: 6% 10%;
    column-gap: 10vw;
  }

  .sp1 {
    margin-top: 50px;
    font-size: 2rem;
  }
  .sp2 {
    font-size: 3.5rem;
  }
  .sp {
    align-content: end;
    /* padding: 0 5%; */
  }
  .tp {
    justify-self: center;
    padding: 3% 0;
    text-wrap: balance;
    /* text-align: center; */
  }

  img {
    width: 400px;
  }
}
